body {
  font-family:  'Courier New', Courier, monospace
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: gold;
    background-color: transparent;
    text-decoration: underline;
  }